#meganavigator ul.subnavi {
	position: static;
	left: auto;
	right: auto;
	margin: 0;
	padding: 0;
}

#meganavigator ul.subnavi>li {
	margin-left: 0;
}

#meganavigator ul.subnavi>li.first {
	margin-top: 0;
}

/* left to right */
ul.navi div.mega-content {
	position: absolute;
	left: -999em;
	padding: 0;
	margin: 0;
	background:url(../../../../images/menuwrap-sub-bg.png) repeat top left;
	display: block;
	float: left;
	padding: 0 5px 5px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* mega inner */
ul.navi div.mega-content-inner {
	float: left;
	display: block;
	padding: 0;
	background: #FFF;
	margin: 5px 0 0 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* cols */
ul.navi div.mega-col{
	margin: 0;
	float: left;
	display: block;
	padding:5px 0;
}
ul.navi div.mega-col.moretone {
	padding:5px 5px;
}
/*#meganavigator ul.subnavi>li.first {
	border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0 0;
	-webkit-border-radius:5px 0 0 0;
}
#meganavigator ul.subnavi>li.last {
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
}*/
ul.navi div.mega-col.moretone.first {
	padding:5px 5px 5px 10px;
}
ul.navi div.mega-col.moretone.last {
	padding:5px 10px 5px 5px;
}
ul.navi .level2 div.mega-col.moretone div.separator.level2,
ul.navi .level3 div.mega-col.moretone div.separator.level3,
ul.navi .level4 div.mega-col.moretone div.separator.level4,
ul.navi .level5 div.mega-col.moretone div.separator.level5,
ul.navi .level6 div.mega-col.moretone div.separator.level6,
ul.navi .level7 div.mega-col.moretone div.separator.level7,
ul.navi .level8 div.mega-col.moretone div.separator.level8,
ul.navi .level9 div.mega-col.moretone div.separator.level9,
ul.navi .level2 div.mega-col.moretone a.level2,
ul.navi .level3 div.mega-col.moretone a.level3,
ul.navi .level4 div.mega-col.moretone a.level4,
ul.navi .level5 div.mega-col.moretone a.level5,
ul.navi .level6 div.mega-col.moretone a.level6,
ul.navi .level7 div.mega-col.moretone a.level7,
ul.navi .level8 div.mega-col.moretone a.level8,
ul.navi .level9 div.mega-col.moretone a.level9{
	padding-left: 10px;
	background-position:0 10px;
}
ul.navi .level2 div.mega-col.moretone .mega-group-title div.separator.level2,
ul.navi .level2 div.mega-col.moretone .mega-group-title a.level2{
	background:none !important;
	padding-left:0px;
}
/*ul.navi div.mega-col.moretone div.separator.level2,
ul.navi div.mega-col.moretone a.level2,
ul.navi div.mega-col.moretone div.separator.level3,
ul.navi div.mega-col.moretone a.level3{
	padding-left: 10px;
	background-position:0 10px;
}
*/



ul.navi div.mega-col.first.moretone ul.subnavi li.first{
	border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0 0;
	-webkit-border-radius:5px 0 0 0;
}
ul.navi div.mega-col.last.moretone ul.subnavi li.first{
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
ul.navi div.mega-col.first.moretone ul.subnavi li.last{
	border-radius:0 0 0 5px;
	-moz-border-radius:0 0 0 5px;
	-webkit-border-radius:0 0 0 5px;
}
ul.navi div.mega-col.last.moretone ul.subnavi li.last{
	border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
}


ul.navi div.mega-col.first.one ul.subnavi li.first{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
ul.navi div.mega-col.last.one ul.subnavi li.first{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
ul.navi div.mega-col.first.one ul.subnavi li.last{
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
ul.navi div.mega-col.last.one ul.subnavi li.last{
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
/* ul on col */
ul.navi div.mega-content.level2 ul.megachild.level2 {
	float: left;
}

/* FOR MEGA-ITEM */
ul.navi div.mega-group {
	padding: 0;
	margin: 0;
	/*overflow:hidden;*/
}

ul.navi div.mega-group div.mega-group-title{
	border: 0px solid #fff;
	border-bottom-width: 1px;
	margin: 0 0 0 0;
}
ul.navi div.mega-group div.mega-group-title div.separator,
ul.navi div.mega-group div.mega-group-title a{
	padding: 0;
	/*color: #fff;*/
}

ul.navi div.mega-group div.mega-group-title span.menu-icon{
}
ul.navi div.mega-group div.mega-group-title span.menu-title{
	text-transform: uppercase;
	font-weight: bold;
}
ul.navi div.mega-group div.mega-group-title .showdesc span.menu-title{
}
ul.navi div.mega-group div.mega-group-title span.menu-desc{
}

ul.navi div.mega-group div.mega-group-content{
	
}
ul.navi div.mega-group div.mega-group-content>ul.subnavi{
	background: transparent;
}
ul.navi div.mega-group div.mega-group-content>ul.subnavi>li{
	background: transparent;
	margin: 0;
	padding: 0;
}
ul.navi div.mega-group div.mega-group-content>ul.subnavi>li.hover{
	/*background: #777;*/
}
ul.navi div.mega-group div.mega-group-content>ul.subnavi>li>div.separator.havechild,
ul.navi div.mega-group div.mega-group-content>ul.subnavi>li>a.havechild{
	background-image: url(../images/arrow.png);
	background-position: 95% -25px;
	background-repeat: no-repeat;
}

/*FOR MEGA-MODULE*/
ul.navi div.mega-module.moduletable{
	position:static;
}
ul.navi div.mega-module {
}
ul.navi div.mega-module h3 {
	margin: 0 0 0 0;
	color: #006BB9;
	font-size: 100%;
	font-weight:bold;
	text-transform: uppercase;
	height:26px;
	line-height:26px;
}
ul.navi div.mega-module .mega-module-content p {
	margin: 0 0;
}
div.mega-module .widget-wrap .post{
	padding-bottom:8px;
}
div.mega-module .widget-wrap .post p{
	color:#000;
	line-height:16px;
}
ul.navi div.mega-module.moduletable a:hover{
	text-decoration:underline;
}

div.mega-module.moduletable.heath .widget-wrap .post p{
	padding-bottom:12px;
}

/* MEGA RTL */
ul.navirtl div.mega-content {
	position: absolute;
	top: -999em;
	padding: 0;
	margin: 0;
	background:url(../../../../images/menuwrap-sub-bg.png) repeat top left;
	display: block;
	float: right;
	padding: 0 5px 5px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* mega inner */
ul.navirtl div.mega-content-inner {
	float: right;
	display: block;
	padding: 0;
	margin: 5px 0 0 5px;
	background: #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* cols */
ul.navirtl div.mega-col {
	margin: 0;
	float: right;
	display: block;
	padding:5px 0;
}
ul.navirtl div.mega-col.moretone {
	padding:5px 5px;
}
ul.navirtl div.mega-col.moretone.first {
	padding:5px 10px 5px 5px;
}
ul.navirtl div.mega-col.moretone.last {
	padding:5px 5px 5px 10px;
}
ul.navirtl .level2 div.mega-col.moretone div.separator.level2,
ul.navirtl .level3 div.mega-col.moretone div.separator.level3,
ul.navirtl .level4 div.mega-col.moretone div.separator.level4,
ul.navirtl .level5 div.mega-col.moretone div.separator.level5,
ul.navirtl .level6 div.mega-col.moretone div.separator.level6,
ul.navirtl .level7 div.mega-col.moretone div.separator.level7,
ul.navirtl .level8 div.mega-col.moretone div.separator.level8,
ul.navirtl .level9 div.mega-col.moretone div.separator.level9,
ul.navirtl .level2 div.mega-col.moretone a.level2,
ul.navirtl .level3 div.mega-col.moretone a.level3,
ul.navirtl .level4 div.mega-col.moretone a.level4,
ul.navirtl .level5 div.mega-col.moretone a.level5,
ul.navirtl .level6 div.mega-col.moretone a.level6,
ul.navirtl .level7 div.mega-col.moretone a.level7,
ul.navirtl .level8 div.mega-col.moretone a.level8,
ul.navirtl .level9 div.mega-col.moretone a.level9{
	padding-right: 10px;
	background-position:100% 10px;
}

ul.navirtl .level2 div.mega-col.moretone .mega-group-title div.separator.level2,
ul.navirtl .level2 div.mega-col.moretone .mega-group-title a.level2{
	background:none !important;
	padding-right:0px;
}
ul.navirtl div.mega-col.first {
	
}

ul.navirtl div.mega-col.last {
	
}

ul.navirtl div.mega-col.first.moretone ul.subnavi li.first{
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
ul.navirtl div.mega-col.last.moretone ul.subnavi li.first{
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}
ul.navirtl div.mega-col.first.moretone ul.subnavi li.last{
	border-radius:0 0 5px 0;
	-moz-border-radius:0 0 5px 0;
	-webkit-border-radius:0 0 5px 0;
}
ul.navirtl div.mega-col.last.moretone ul.subnavi li.last{
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
}


ul.navirtl div.mega-col.first.one ul.subnavi li.first{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
ul.navirtl div.mega-col.last.one ul.subnavi li.first{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
ul.navirtl div.mega-col.first.one ul.subnavi li.last{
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
ul.navirtl div.mega-col.last.one ul.subnavi li.last{
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}


/* ul on col */
ul.navirtl div.mega-content.level2 ul.megachild.level2 {
	float: right;
}

/* FOR MEGA-ITEM */
ul.navirtl div.mega-group {
	padding: 0;
	margin: 0;
	/*overflow:hidden;*/
}

ul.navirtl div.mega-group div.mega-group-title{
	border: 0px solid #fff;
	border-bottom-width: 1px;
	margin: 0 0 0 0;
}
ul.navirtl div.mega-group div.mega-group-title div.separator,
ul.navirtl div.mega-group div.mega-group-title a{
	padding: 0;
	/*color: #fff;*/
}
ul.navirtl div.mega-group div.mega-group-title span.menu-icon{
}
ul.navirtl div.mega-group div.mega-group-title span.menu-title{
	text-transform: uppercase;
	font-weight: bold;	
}
ul.navirtl div.mega-group div.mega-group-title .showdesc span.menu-title{
}
ul.navirtl div.mega-group div.mega-group-title span.menu-desc{
}

ul.navirtl div.mega-group div.mega-group-content{
	
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi{
	background: transparent;
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li{
	background: transparent;
	margin: 0;
	padding: 0;
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li.hover{
	
}
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li>div.separator.havechild,
ul.navirtl div.mega-group div.mega-group-content>ul.subnavi>li>a.havechild{
	background-image: url(../images/arrow.png);
	background-position: 5% -187px;
	background-repeat: no-repeat;
}

/*FOR MEGA-MODULE*/
ul.navirtl div.mega-module {
	/*color: #FFF;*/
}

ul.navirtl div.mega-module h3 {
	margin: 0 0 0 0;
	color: #006BB9;
	font-size: 100%;
	font-weight:bold;
	text-transform: uppercase;
	height:26px;
	line-height:26px;
	direction:rtl;
}
ul.navirtl div.mega-module.moduletable,
ul.navirtl div.mega-module.moduletable_text,
ul.navirtl div.mega-module.moduletable_menu{
	direction:rtl;
}
ul.navirtl div.mega-module .mega-module-content p {
	margin: 0 0;
}
div.mega-module .widget-wrap .post{
	padding-bottom:8px;
}
div.mega-module .widget-wrap .post p{
	color:#000;
	line-height:16px;
}
div.mega-module .widget-wrap .post-inner a{
	*display:inline;
	white-space:normal;
}
ul.navirtl div.mega-module.moduletable a:hover{
	text-decoration:underline;
}
/* id: #mega-content-login */
ul.navi #mega-content-login #form-login p {
	display: block;
	line-height: normal;
}

ul.navi .mega-module ul {
	position: static;
}

ul.navi .mega-module ul.menu {
	margin: 0 0;
	width: auto;
	border: none;
}

ul.navi .mega-module ul.menu li {
	border-top: 1px solid #000000;
}

ul.navi .mega-module ul.menu li:first-child {
	border: none;
}

ul.navi .mega-module ul.menu li a {
	height: 25px;
	line-height: 25px;
	color: #CCCCCC;
	padding: 0 10px;
}

ul.navi .mega-module ul.menu li:hover {
	background: #000000;
	color: #FFFFFF;
}

ul.navi .mega-module ul.menu li a:hover {
	color: #FFFFFF;
}

ul.navi .mega-module #form-login input#modlgn_username,ul.navi .mega-module #form-login input#modlgn_passwd
	{
	width: 170px;
}

ul.navi .mega-module #form-login ul {
	position: static;
	margin: 10px 0 0;
	width: auto;
	border: none;
}

ul.navi .mega-module #form-login ul li {
	height: 20px;
	line-height: 20px;
	margin: 0 0;
}

ul.navi .mega-module #form-login ul li a {
	padding: 0 0;
}

ul.navi .mega-module #form-login ul li a:hover {
	text-decoration: underline;
}

ul.navi #mega-content-login #form-login p label {
	color: #FFF;
}